html {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  /* background-color: steelblue; */
  background-color: black;
}

h1 {
  color: darkturquoise;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px rgb(97, 93, 93);
}

h2 {
  color: whitesmoke;
}
body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  background-color: rgb(40, 40, 43);
  border: 5px solid black;
}
p,
li {
  color: dodgerblue;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: aquamarine;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
